/*CSS file*/
/*-----------------------------------------------------
 Projects : My Website
 UI Developers : Mugeshkumar Devaraj
------------------------------------------------------*/

/*--------------// Common css //-------------*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);

@import url('HTML5Boilerplate.css');
@import url('normalize.css');
/*@import url('opensans.css');*/

html,body,div,span,applet,object,iframe,h1,h2,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;vertical-align:baseline}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
blockquote,q									{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table											{border-collapse:collapse;border-spacing:0;}
html,body 										{height:100% !important;text-rendering: optimizeLegibility;}
html *											{padding:0px; margin:0px;font-size: 100%;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%; outline:none !important; outline-width:0px !important;  -webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}
*, *:after, *:before 							{-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
html, html a 									{-webkit-font-smoothing: antialiased;}
::-webkit-selection 							{color: #fff;background: #506faf;}
::-moz-selection 								{color: #fff;background: #506faf;}
::selection 									{color: #fff;background: #506faf;}
a,a:hover,a:focus								{text-decoration:none; outline:none !important;}
::-webkit-input-placeholder 					{color:#222222;font-weight:600 !important;}
:-moz-placeholder 								{color:#222222;font-weight:600 !important;}
::-moz-placeholder 								{color:#222222;font-weight:600 !important;}
:-ms-input-placeholder 							{color:#222222;font-weight:600 !important;}
.ellipsis										{text-overflow:ellipsis;white-space:nowrap;overflow:hidden;}
ul li											{list-style:none;}
img												{max-width:100%; margin:auto;outline:none;}
.bg_none										{background: none !important;}
.disp_none										{display: none;}
.noBdr											{border:0px !important;}
.pLR0											{padding-left:0px;padding-right:0px;}
.clearfix:before,.clearfix:after				{display:table;line-height:0;content:"";}
.clearfix:after									{clear:both;}
.clearfix										{clear:both\9;}
.clear											{clear:both !important;}
.taC											{text-align:center;}
.taR											{text-align:right;}
.taL											{text-align:left;}
.fL												{float:left;}
.fR												{float:right !important;}
.posRel											{position:relative;}
.posAbs											{position:absolute;}
.posFix											{position:fixed;}
.mAuto											{margin:auto !important;}
.m0												{margin:0 !important;}
.mT0											{margin-top:0px !important;}
.mT10											{margin-top:10px !important;}
.mT20											{margin-top:20px !important;}
.mT30											{margin-top:30px !important;}
.mT40											{margin-top:40px !important;}
.mT50											{margin-top:50px !important;}
.mT60											{margin-top:60px !important;}
.mT70											{margin-top:70px !important;}
.mT80											{margin-top:80px !important;}
.mT100											{margin-top:100px !important;}
.mT120											{margin-top:120px !important;}
.mT140											{margin-top:140px !important;}
.mT160											{margin-top:160px !important;}
.mT-10											{margin-top:-10px !important;}
.mT-20											{margin-top:-20px !important;}
.mT-30											{margin-top:-30px !important;}
.mT-40											{margin-top:-40px !important;}
.mT-50											{margin-top:-50px !important;}
.mB0											{margin-bottom:0px !important;}
.mB10											{margin-bottom:10px !important;}
.mB20											{margin-bottom:20px !important;}
.mB30											{margin-bottom:30px !important;}
.mB40											{margin-bottom:40px !important;}
.mB50											{margin-bottom:50px !important;}
.mB65											{margin-bottom:65px !important;}
.mB80											{margin-bottom:80px !important;}
.mB100											{margin-bottom:100px}
.mB-80											{margin-bottom:-80px !important;}
.upperCase										{text-transform:uppercase;}
.lowerCase										{text-transform:lowercase;}
.white											{color:#ffffff !important;}
.tdn											{text-decoration:none;}
.w100											{width:90% !important;}
.w1200											{width:1200px;margin:0 auto;}
.w1000											{width:1000px;margin:0 auto;}
.w900											{width:900px;}
.w600											{width:600px;margin:0 auto;}
.fw300											{font-weight:300 !important;}
.fw400											{font-weight:400 !important;}
.fw500											{font-weight:500 !important;}
.fw600											{font-weight:600 !important;}
.fw700											{font-weight:700 !important;}
.bbT											{border-bottom:1px solid #ddd;border-top:1px solid #ddd;}
.bT												{border-top:1px solid #ddd;}
.border											{border:1px solid #d8d8d8;}
.p50											{padding:50px 0;}
.p20											{padding:20px 0;}
.p10											{padding:10px 0;}
.pl10											{padding:0 10px;}
.pl20											{padding:0 20px;}
.pl50											{padding:0 50px;}
.container										{width:1200px;margin:0 auto;max-width:100%;}
.p15											{padding:15px;}
.pR50											{padding-right:50px;}
.pL70											{padding-left:70px;}
.pTB10											{padding:10px 0;}
.pTB20											{padding:20px 0;}
.pTB30											{padding:30px 0;}
.pTB50											{padding:50px 0;}
.pTB40											{padding:40px 0;}
.pTB60											{padding:60px 0;}
.pT10											{padding-top:10px;}
.pT20											{padding-top:20px;}
.pT30											{padding-top:30px;}
.pT50											{padding-top:50px;}
.pT40											{padding-top:40px;}
.sec-pTB										{padding:40px 0}
.sec-pTB2										{padding:80px 0}
.w500											{width:500px;}
.w600											{width:600px;}
.w700											{width:700px;}
.h250											{height:250px;}
.h350											{height:350px;}
.h450											{height:450px;}
.h500											{height:500px;}
.wper10											{width:10%;}
.wper15											{width:15%;}
.wper20											{width:20%;}
.wper22											{width:22%;}
.wper23											{width:23%;}
.wper25											{width:25%;}
.wper30											{width:30%;}
.wper33											{width:33%;}
.wper34											{width:34%;}
.wper38											{width:38%;}
.wper35											{width:35% !important;}
.wper40											{width:40%;}
.wper45											{width:45% !important;}
.wper46											{width:46% !important;}
.wper47											{width:47% !important;}
.wper50											{width:50% !important;}
.wper52											{width:52%;}
.wper55											{width:55%;}
.wper60											{width:60%;}
.wper65											{width:65%;}
.wper75											{width:75%;}
.wper100										{width:100% !important;}
.mL10											{margin-left:10px;}
.mL20											{margin-left:20px;}
.mL30											{margin-left:30px;}
.mL40											{margin-left:40px;}
.mL50											{margin-left:50px;}
.mL60											{margin-left:60px;}
.mR10											{margin-right:10px;}
.mR20											{margin-right:20px;}
.mR40											{margin-right:40px;}
.m0a											{margin:0 auto !important;}

.lh35											{line-height:35px!important;}
.ln30											{line-height:30px;}
.bg-blue										{background:#e9edf1;}
.grey											{color:#6f7c82!important;}
.fs12											{font-size:12px;}
.bdrTGrey										{border-top:1px solid #d8d8d8;}
.bdrBGrey										{border-bottom:1px solid #d8d8d8;}
.bdrLGrey										{border-left:1px solid #d8d8d8;}
.bdrRGrey										{border-right:1px solid #d8d8d8;}
hr												{background: #e8ecef;height: 1px;border: none;}
.dispB											{display:block;}
.dispN											{display:none;}
.dispIB											{display:inline-block;}
.dispFlex										{display:flex;}

h1												{font-size:2.8em;font-weight:300;line-height:34px;}
h2												{font-size:1.7em;font-weight:300;line-height:32px;}
h3												{font-size:1.4em;font-weight:300;line-height:30px;}
h4												{}
h5												{}
h6												{}
p												{color:#000002; line-height:24px;}
.cubic-bezier1,.header,.header:hover .logo,.logo,.logo img,
.h2_title,.h3_title,.label_title,
.blue_h1,.blue_h1 span                          {-webkit-transition: all .27s cubic-bezier(0, 0, .58, 1);-moz-transition: all .27s cubic-bezier(0, 0, .58, 1);-o-transition: all .27s cubic-bezier(0, 0, .58, 1);-ms-transition: all .27s cubic-bezier(0, 0, .58, 1);transition: all .27s cubic-bezier(0, 0, .58, 1);}
.cubic-bezier2,.projects,.projects-box,
.projects_box img,.projects_box:hover img,.inner_details,
.projects_box:hover .inner_details,.projects_box::after,
.projects_box:hover.projects_box::after,.my_img         {-webkit-transition: all .5s cubic-bezier(.25, .46, .45, .94); -moz-transition: all .5s cubic-bezier(.25, .46, .45, .94);-o-transition: all .5s cubic-bezier(.25, .46, .45, .94);transition: all .5s cubic-bezier(.25, .46, .45, .94);}
.cubic-bezier3                                  {-webkit-transition: all .27s cubic-bezier(1, 2, .55, 1);-moz-transition: all .27s cubic-bezier(1, 2, .55, 1);-o-transition: all .27s cubic-bezier(1, 2, .55, 1);-ms-transition: all .27s cubic-bezier(1, 2, .55, 1);transition: all .27s cubic-bezier(1, 2, .55, 1);}
.cubic-bezier4                                  {-webkit-transition: all .4s cubic-bezier(.94,.06,.32,.95);-moz-transition: all .4s cubic-bezier(.94,.06,.32,.95);-o-transition: all .4s cubic-bezier(.94,.06,.32,.95);-ms-transition: all .4s cubic-bezier(.94,.06,.32,.95);transition: all .4s cubic-bezier(.94,.06,.32,.95); }

.trans0_1s										{transition:all 0.1s; -webkit-transition:all 0.1s;-moz-transition:all 0.1s;}
.trans0_3s					                    {transition:all 0.3s; -webkit-transition:all 0.3s;-moz-transition:all 0.3s;}
.trans0_5s								        {transition:all 0.5s; -webkit-transition:all 0.5s;-moz-transition:all 0.5s;}
.trans1s										{transition:all 1s; -webkit-transition:all 1s;-moz-transition:all 1s;}

.bdrRad2										{border-radius:2px;-webkit-border-radius:2px;-moz-border-radius:2px;-ms-border-radius:2px;}
.bdrRad3										{border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px;-ms-border-radius:3px;}	
.bdrRad4										{border-radius:4px;-webkit-border-radius:4px;-moz-border-radius:4px;-ms-border-radius:4px;}
.bdrRad50,.circle_icon							{border-radius:50px;-webkit-border-radius:50px;-moz-border-radius:50px;-ms-border-radius:50px;}

/*--------------- Main CSS --------------*/
body											{font-family: 'Open Sans', sans-serif;font-size:14px;color:#1e1e1e;background-color:#fff;line-height:1;margin:0 auto;overflow-X:hidden;}
/*--------------- loading_overlay --------------*/
.loading_overlay								{color:#fff; text-align:center;width:100%; height:100%; position: fixed;top:0;left:0; background-color:#fff;content: '';z-index: 1999;}
.loading_box									{width:100px;height: 100px;position:absolute; top:50%; left:50%; transform: translate(-50%,-50%); -webkit-transform: translate(-50%,-50%) ; -moz-transform: translate(-50%,-50%); }
.loading_box_overlay							{width:0px;height: 0px;position:absolute; top:50%; left:50%; transform: translate(-50%,-50%) rotate(45deg); -webkit-transform: translate(-50%,-50%) rotate(45deg); -moz-transform: translate(-50%,-50%) rotate(45deg); border-radius:0%; border:1px solid #dcde70;opacity: 0;z-index: -1;}
.loading_inner									{width:0px;height:0px;position:absolute; top:50%; left:50%; transform: translate(-50%,-50%) rotate(-45deg); -webkit-transform: translate(-50%,-50%) rotate(-45deg); -moz-transform: translate(-50%,-50%) rotate(-45deg); color:#dcde70; opacity: 0;background-color:#cff4d9;}
.dot 											{width:10px;height:10px;position:absolute; top:50%; left:50%; transform: translate(-50%,-50%) rotate(0deg); -webkit-transform: translate(-50%,-50%) rotate(0deg); -moz-transform: translate(-50%,-50%) rotate(0deg);border-radius:50%; margin-right: 10px;}
.loading_text									{position:absolute; margin-top:20px;  margin-left:5px; top:50%; left:50%; transform: translate(-50%,-50%); -webkit-transform: translate(-50%,-50%); -moz-transform: translate(-50%,-50%); font-size: 15px;color:#000;}
/*--------------- Header CSS --------------*/
.header											{width:100%;height:60px;/*background: rgba(255,255,255,0.99);*/position:fixed;z-index:1070; }

.logo											{width:48px;margin:5px 15px 0px 15px;float:left;}
.logo img										{width:100%;display:block; margin:auto;}
.header h1										{font-weight:100;font-size:1.7em;line-height: 26px;color:#fff; float:left;padding:16px 20px 16px 20px;}
.header h1 span									{font-weight:900;}
.top_nav_right									{float:right; padding-top:10px;}
.top_nav_right li									{margin-right:40px; display:inline-block; vertical-align:top;}
.top_nav_right li p								{color:#fff; text-align:left;line-height:20px; font-size:15px;font-weight:600;}
.top_nav_right li p span							{font-size:13px;font-weight:400;}


/*--------------- Humberger Menu --------------*/
.menu_trigger,.menu_trigger span				{display: inline-block;-webkit-transition: all 0.8s;-moz-transition: all 0.8s;-ms-transition: all 0.8s;transition: all 0.8s;box-sizing: border-box;}
.menu_trigger 									{position: fixed; cursor:pointer;top: 18px;right:20px;width: 30px;height: 24px;}
.menu_trigger span 								{position: absolute; left: 0; width: 100%;height: 2px; background-color: #1e1e1e; border-radius: 2px; }
.menu_trigger span:nth-of-type(1) 				{top: 0;}
.menu_trigger span:nth-of-type(2) 				{top: 10px;}
.menu_trigger span:nth-of-type(3) 				{bottom: 0;}
.menu_trigger.active span:nth-of-type(1) 		{-webkit-transform: translateY(8px) rotate(-45deg); transform: translateY(8px) rotate(-45deg);}
.menu_trigger.active span:nth-of-type(2) 		{opacity: 0;}
.menu_trigger.active span:nth-of-type(3) 		{-webkit-transform: translateY(-8px) rotate(45deg);transform: translateY(-8px) rotate(deg);}

/*--------------- Section --------------*/
/*.section1 									{display: flex; display: -webkit-flex; display: -webkit-box; display: -moz-flex; display: -moz-box; display: -ms-flexbox; -webkit-flex-flow: column wrap; -moz-flex-flow: column wrap; flex-flow: column wrap; -webkit-align-items: space-around; align-items: space-around; justify-content: center; -webkit-justify-content: center; }*/
.section1										{/*display:table;*/}


.section 										{background-size: cover; background-repeat: no-repeat; background-position: center center; background-attachment: fixed;position: relative;z-index: 1;}
.section::after 								{background: rgba(26, 39, 51, 0.55);content: "";width: 100%;height: 100%;position: absolute;left: 0;top: 0;z-index:-1;}

.section1                       				{background-image: url('../images/bg1.jpg'); opacity:0; transform: translateY(250px); -webkit-transform: translateY(250px);-moz-transform: translateY(-50px);}
.section1::after								{background: rgba(46, 38, 75, 0.75);}

.banner											{/*display: table-cell; vertical-align: middle;*/ position:absolute; top:50%; left:50%; transform: translate(-50%,-50%); -webkit-transform: translate(-50%,-50%); -moz-transform: translate(-50%,-50%);  max-width:900px;margin:auto; padding:2em; color:#dcde70;}
.banner .fh1									{font-size:6em; padding-bottom: 0.8em; opacity:0;transform: translateY(-250px); -webkit-transform: translateY(-250px);-moz-transform: translateY(-250px);}
.banner .fh3									{font-size:2rem; padding-bottom: 0.5em; opacity:0;transform: translateY(250px); -webkit-transform: translateY(250px);-moz-transform: translateY(250px);}
.my_img											{position:fixed; border:10px dashed #fff;width:200px;height:200px; top:50%; right:10%; transform: skew(25deg,45deg) translate(-50%,-90%); -webkit-transform: skew(25deg,45deg) translate(-50%,-90%); -moz-transform:skew(25deg,45deg) translate(-50%,-90%);background-size: cover; background-repeat: no-repeat; background-position: center top; background-image: url('../images/my_img.jpg'); z-index:-1; }
.scroll_down                                   {position:absolute;bottom:20px;left:50%;margin-left:-60px;width:120px;padding-bottom:20px;font-size:16px;font-size:1.6rem;background:transparent url("../images/icon-down.svg") bottom center no-repeat}

.scroll_down                                    {animation-name:bounce;animation-duration:5s;animation-delay:3s;animation-iteration-count:infinite}

@keyframes bounce{
    0%{transform:translate3d(0, 0, 0)}
    89%{transform:translate3d(0, 0, 0)}
    90%{transform:translate3d(0, 10px, 0)}
    92%{transform:translate3d(0, -7px, 0)}
    94%{transform:translate3d(0, 5px, 0)}
    96%{transform:translate3d(0, -2px, 0)}
    98%{transform:translate3d(0, 2px, 0)}
    100%{transform:none}
}

.w50,.w33,.w66,.w25,.w75,.w20,.w40,.w60,.w80,.w16,.w84 												{color:#fff;background-color:#ccc; }
.w50_50,.w33_33,.w66_66,.w25_25,.w75_75,.w20_20,.w40_40,.w60_60,.w80_80,.w16_16,.w84_84 			{color:#fff;background-color:#666;}
/* =General CSS
-------------------------------------------------------------- */
.w100								{margin-bottom: 0em; color:#fff;z-index: 1;}
.w100,.w50,.w33,.w66,.w25,.w75,.w20,.w40,.w60,.w80,.w16,.w84 	{float: left; padding: 10px; box-sizing:border-box;-webkit-box-sizing:border-box;margin-bottom: 0.5em;}
.clear 								{clear:both;display:block;font-size:0; height:0;line-height:0; width:100%;overflow: hidden;}
/* =Shortcodes Templates
-------------------------------------------------------------- */
/* =Default Template (no margin)
-------------------------------------------------------------- */
.w100  				{width: 100%;}
.w50  				{width: 50%;}
.w33  				{width: 33.3%;}
.w66  				{width: 66.6%;}
.w25 				{width: 25%;}
.w75  				{width: 75%;}
.w20  				{width: 20%;}
.w40  				{width: 40%;}
.w60  				{width: 60%;}
.w80  				{width: 80%;}
.w16  				{width: 16.6%;}
.w83  				{width: 83.4%;}

/* =Responsive
-------------------------------------------------------------- */
/* Maximum width of 600 pixels. */
/*@media only screen and (min-width:768px) and (max-width: 1023px) {
.w100,.w50,.w33,.w66,.w25,.w75,.w20,.w40,.w60,.w80,.w16,.w84 {clear: both;width: 100% !important;margin-left: 0;margin-right: 0;margin-bottom: 1em; border: 1px solid #f00 !important;}
}*/

/* =Small Margins Template
-------------------------------------------------------------- */
.w100  				{width: 100%;}
.w50  				{width: 49% !important;	margin-right: 2% !important;}
.w33  				{width: 32% !important;	margin-right: 2% !important;}
.w66  				{width: 66% !important; margin-right: 2% !important;}
.w25 				{width: 23.5% !important;margin-right: 2% !important;}
.w75  				{width: 74.5% !important;margin-right: 2% !important;}
.w20  				{width: 18.4% !important;margin-right: 2% !important;}
.w40  				{width: 39% !important;margin-right: 2% !important;}
.w60  				{width: 59% !important;	margin-right: 2% !important;}
.w80  				{width: 79.6% !important;margin-right: 2% !important;}
.w16  				{width: 15% !important;	margin-right: 2% !important;}
.w84  				{width: 83.4%;}
.w50_50				{width: 49% !important;margin-right: 0px !important;}
.w33_33 			{width: 32% !important;margin-right: 0px !important;}
.w66_66 			{width: 66% !important;margin-right: 0px !important;}
.w25_25 			{width: 23.5% !important;margin-right: 0px !important;}
.w75_75 			{width: 74.5% !important;margin-right: 0px !important;}
.w20_20 			{width: 18.4% !important;margin-right: 0px !important;}
.w40_40 			{width: 39% !important;	margin-right: 0px !important;}
.w60_60 			{width: 59% !important;	margin-right: 0px !important;}
.w80_80 			{width: 79.6% !important;margin-right: 0px !important;}
.w16_16				{width: 15% !important;	margin-right: 0px !important;}
.f_div				{border:1px solid #ccc;}
.h_span				{font-weight:bold; font-size: 15px; padding:10px; background-color: #1e1e1e;}
