$green:#88ce02;
.box                        {background-color: #88ce02;border:1px solid #fff;position: absolute;top: 50%;left: 50%;width: 100px;height: 100px;transform: translate(-50%, -50%);
overflow: hidden;}
.boxSmall                   {position: absolute;width: 100px;height: 100px;background-color: #88ce02;z-index: 1;top: 50%;left: 50%;transform: translate(-50%, -50%);}
#box2                       {transform: translate(-50%, -50%);}
#box3                       {transform: translate(55%, -50%);}